.form-group-addgame {
    align-items: center;
    color: var(--text-primary);
    border: 1px solid var(--background);
    background-color: var(--background);
    padding: 10px 16px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 300px;
}
.errorTextAddGame {
    border: 1px solid rgb(209, 13, 13);
    color: rgb(209, 13, 13);
    padding: 10px 16px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 300px;
}

.successTextAddGame {
    border: 1px solid rgb(52, 124, 3);
    color: rgb(52, 124, 3);
    padding: 10px 16px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 300px;
}
.imgDelButton {
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    width: 190px;
    padding: 2px 5px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgDelButton:hover {
   background-color: rgba(0, 0, 0, 0.8);
   color: white;
}