.addcontainer {
  background-color: var(--container-background);
  border: var(--border);
  color: var( --text-primary);
  min-width: 320px;
  border-radius: 6px;
}
.bottomContainer {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contentContainerInput {
  display: flex;
  box-sizing: border-box;
  flex-wrap : wrap;
  justify-content: center;
}
.form-group-addgame {
    align-items: center;
    color: var(--text-primary);
    border: 1px solid var(--background);
    background-color: var(--background);
    padding: 10px 16px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 100%;
}
.form-group-textarea {
  color: var(--text-primary);
  border: 1px solid var(--background);
  background-color: var(--background);
  padding: 10px 16px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.addGameButton {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 7px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: var(--border);
}
fieldset {
  border-radius: 6px;
  width: 100%;
}
.errorTextAddGame {
    border: 1px solid rgb(209, 13, 13);
    color: rgb(209, 13, 13);
    padding: 10px 16px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 300px;
}

.successTextAddGame {
    border: 1px solid rgb(52, 124, 3);
    color: rgb(52, 124, 3);
    padding: 10px 16px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 300px;
}
.imgDelButton {
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    width: 190px;
    padding: 2px 5px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgDelButton:hover {
   background-color: rgba(0, 0, 0, 0.8);
   color: white;
}

/* StarRating */

.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:2em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color: var(--background);
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}