.form-group-addgame {
    align-items: center;
    border: 1px solid #cfcece;
    padding: 10px 16px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 300px;
}
.errorTextAddGame {
    border: 1px solid rgb(209, 13, 13);
    color: rgb(209, 13, 13);
    padding: 10px 16px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 300px;
}

.successTextAddGame {
    border: 1px solid rgb(52, 124, 3);
    color: rgb(52, 124, 3);
    padding: 10px 16px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 300px;
}