.pageContainer {
    background-color: var(--container-background);
    border: var(--border);
    padding: 10px;
    border-radius: 6px;
}
.HeaderContainer {
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    flex-wrap : wrap;
}
.descriptionContainer {
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    flex-wrap : wrap;
}
.BodyContainer {
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    flex-wrap : wrap 
}
.imageWrapperDetail {
    width: 260px;
    height: 200px;
}
.imagePreviewDetail {
    max-width: 260px;
    width: auto;
    max-height: 200px;
    height: auto;
    align-self: center;
    border-radius: 7px;
}
.gamePriceDetail {
    padding: 7px;
    font-weight: 600;
    font-size: medium;
    width: fit-content;
    border-radius: 7px;
    color: var( --text-primary);
    margin: 6px 8px;
    background-color: var(--hilight);
    float: left;
    flex-direction: row;
    display: flex;
}

.GameDeleteButton {
    padding: 7px;
    font-weight: 600;
    font-size: medium;
    width: fit-content;
    border-radius: 7px;
    color: var( --text-primary);
    margin: 6px 8px;
    cursor: pointer;
    display: flex;
    border: none;
    background-color: brown;
}
.GameEditButton {
    padding: 7px;
    font-weight: 600;
    text-decoration: none;
    font-size: medium;
    width: fit-content;
    border-radius: 7px;
    color: var( --text-primary);
    margin: 6px 8px;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    border: none;
    background-color: var(--hilight);
}