.pageContainer {
    background-color: var(--container-background);
    border: var(--border);
    padding: 10px;
    border-radius: 6px;
}
.HeaderContainer {
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    flex-wrap : wrap;
    padding: 20px 20px 0px 20px;
}
.descriptionContainer {
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    flex-wrap : wrap;
    padding: 0px 20px 0px 20px;
    font-size: 17.5px;
}
.BodyContainer {
    color: 'var(--text-primary)';
    flex-direction: row;
    display: flex;
    flex-wrap : wrap;
}
.BodyContainerContentWraper {
    margin: 20px;
    width: 100%;
}
.imageWrapperDetail {
    max-width: 260px;
    width: auto;
    max-height: 200px;
    height: auto;
    align-self: center;
    border-radius: 7px;
    padding-bottom: 15px;
}
.imagePreviewDetail {
    max-width: 260px;
    width: auto;
    max-height: 200px;
    height: auto;
    align-self: center;
    border-radius: 7px;
}
.gamePriceDetail {
    padding: 7px;
    font-weight: 600;
    font-size: medium;
    width: fit-content;
    border-radius: 7px;
    color: var( --text-primary);
    margin: 6px 8px;
    background-color: var(--hilight);
    float: left;
    flex-direction: row;
    display: flex;
}

.GameDeleteButton {
    padding: 7px;
    font-weight: 600;
    font-size: medium;
    width: fit-content;
    border-radius: 7px;
    color: white;
    margin: 6px 8px;
    cursor: pointer;
    display: flex;
    border: none;
    background-color: brown;
}
.GameEditButton {
    padding: 7px;
    font-weight: 600;
    text-decoration: none;
    font-size: medium;
    width: fit-content;
    border-radius: 7px;
    color: white;
    margin: 6px 8px;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    border: none;
    background-color: var(--hilight);
}
.WishlistButton {
    padding: 7px;
    font-weight: 500;
    font-size: medium;
    width: fit-content;
    border-radius: 7px;
    color: var( --text-primary);
    margin: 6px 8px;
    cursor: pointer;
    display: flex;
    border: none;
    background-color: var(--container-background);
    border: 1px solid var(--text-primary);
}

.gametitledetail {
    color: var(--text-primary);
    font-weight: 600;
    font-size: 210%;
    width: fit-content;
}
/* StarRating */

.star-rating-detail {
  display: flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding: 0.2em;
  flex-wrap: wrap-reverse;
  
}

.star-detail {
    padding-right: 4px;
}

.star-rating-detail input {
  display:none;
}

.star-rating-detail label {
  color: var(--background);
}

.star-rating-detail :checked ~ label {
  color:#f90;
}

/* Table */


#detailtblData {
    color: var(--text-primary); 
    border: var(--border);
    width: 49%;
    min-width: 360px;
  }
#detailtblData tr {
  line-height: 40px;
}
td {
  white-space:nowrap;
}
td:last-child {
  width:100%;
}
  
  #detailtblData td, #detailtblData th {
    border-bottom: var(--table-border);
    padding: 0px 7px 0px 7px;
    min-width: 180px;
  }
  #detailtblData tr:nth-child(even){background-color: var(--table-background-secondary) }
  
  #detailtblData tr:hover {background-color: var(--content-background);}
  
  #detailtblData th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: var(--content-background);
    color: var(--text-primary);
 
  }
  #price {
      display: flex;
      flex-direction: row;
  }

  .tdTitle {
      font-weight: bold;
      width: 180px;
      min-width: 180px;
  }

  .tdContent {
      min-width: 180px;
  }
  .detailtable {
    background-color: var(--table-background);
    padding: 0px;
    border-radius: 6px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }