.wrapper {
  flex-direction: column;
}
.dropdown {
    position: absolute;
    float: right;
    right: 165px;
    top: 30px;
}
.list {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  position: absolute;
  border: 1px solid #ccc;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: auto;
  display: inline-block;
  z-index: 5;
  width: 150px;
}
.list-item {
  padding: 8px;
  cursor: pointer;
  background-color: white;
}
.link-list-item {
  cursor: pointer;
  text-decoration: none;
  color: black; 
}
.list-item:hover,
.list-item:active {
  background-color: #f3f3f3;
}