.overviewContainer {
    background-color: var(--container-background);
    border: var(--border);
    padding: 10px;
    border-radius: 6px;
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    flex-wrap : wrap
}
.contentContainerInputForm {
    background-color: var(--container-background);
    border: var(--border);
    color: var( --text-primary);
    min-width: 320px;
    border-radius: 6px;
    display: flex;
    box-sizing: border-box;
    flex-wrap : wrap;
    justify-content: center;
}
.contentContainer {
    background-color: white;
    border: var(--border);
    padding: 10px;
    border-radius: 6px;
}
.inputForm {
    margin: 30px;
}

.addGamesButton {
    height: 245px;
    width: 200px;
    margin: 10px;
    background: var(--container-background);
    border: 1px dashed var(--text-primary);
    color: var( --text-primary);
    font-size: large;
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}
.addGamesButton:hover {
    border: 1px dashed var(--text-hover);
    color: var(--text-hover);
}
.addGamesButtonList{
    height: 80px;
    padding: 10px;
    margin: 10px;
    background: var(--container-background);
    border: 1px dashed var(--text-primary);
    color: var( --text-primary);
    font-size: large;
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}
.addGamesButtonList:hover {
    border: 1px dashed var(--text-hover);
    color: var(--text-hover);
}
.imageWrapper {
    width: 200px;
    height: 140px;
    justify-content: center;
    display: flex;
}
.imagePreview {
    max-width: 200px;
    width: auto;
    max-height: 140px;
    height: auto;
    align-self: center;
}
.gameTitle {
    padding: 15px 10px 10px 10px;
    font-weight: 700;
    color: var( --text-primary);
    text-align: center;
    justify-content: center;
    height: 36px;
}
.bottomSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gamePrice {
    padding: 7px;
    font-weight: 600;
    font-size: small;
    width: fit-content;
    border-radius: 7px;
    color: var( --text-primary);
    margin: 6px 8px;
    background-color: var(--hilight);
    float: left;
    flex-direction: row;
    display: flex;
}
.ownagePreviewOk {
    padding: 6px 10px;
    font-weight: 600;
    font-size: small;
    border-radius: 7px;
    color: var( --text-primary);
    margin: 6px 8px;
    background-color: var(--hilight);
    float: right;
}
.ownagePreviewFalse {
    padding: 6px 9px;
    font-weight: 600;
    font-size: small;
    border-radius: 7px;
    color: var( --text-primary);
    margin: 6px 8px;
    background-color: brown;
    float: right;
}
.gamesPreview {
    height: 245px;
    width: 200px;
    min-width: 200px;
    margin: 30px;
    background: var(--background);
    border: var(--border);
    border-radius: 7px;
    flex-direction: column;
    display: flex;
    overflow: hidden;
}
.gamesShow {
    height: 245px;
    width: 200px;
    min-width: 200px;
    margin: 10px;
    background: var(--background);
    border: var(--border);
    border-radius: 7px;
    flex-direction: column;
    display: flex;
    overflow: hidden;
  }
.addButton {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 7px;
    border: var(--border);
}
.girdViewButton {
    color: var( --text-primary);
    cursor: pointer;
    display: flex;
    margin-left: auto;
}
.listViewButton {
    color: var( --text-primary);
    cursor: pointer;
}
.listViewButton:hover {
    color: var(--text-hover);
}
.girdViewButton:hover {
    color: var(--text-hover);    
}