.overviewContainer {
    background-color: white;
    border: var(--border);
    padding: 10px;
    border-radius: 6px;
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    flex-wrap : wrap
}
.contentContainerInputForm {
    background-color: white;
    border: var(--border);
    min-width: 360px;
    border-radius: 6px;
    display: flex;
    box-sizing: border-box;
    flex-wrap : wrap;
    justify-content: center;
}
.contentContainer {
    background-color: white;
    border: var(--border);
    padding: 10px;
    border-radius: 6px;
}
.inputForm {
    margin: 30px;
}
.gamesPreview {
    height: 225px;
    width: 200px;
    min-width: 200px;
    margin: 30px;
    background: var(--background);
    border: 1px solid rgb(105, 104, 104);
    border-radius: 7px;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.addGamesButton {
    height: 220px;
    width: 200px;
    margin: 10px;
    background: white;
    border: 2px rgb(105, 104, 104);
    color: rgb(105, 104, 104);
    font-size: large;
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    border-style: dashed;
    cursor: pointer;
    text-decoration: none;
}
.addGamesButton:hover {
    border: 2px solid black;
    color: black;
    border-style: dashed;
}
.imagePreview {
    max-width: 200px;
    width: auto;
    max-height: 140px;
    height: auto;
}
.textPreview {
    padding: 10px;
    font-weight: 700;
    
}
.imageShow {
    width: auto;
    max-height: 135px;
    height: auto;
}
.textShow {
    padding: 5px;
    text-align: center;
}
.gamesShow {
    height: 220px;
    width: 200px;
    min-width: 200px;
    margin: 10px;
    background: white;
    border: 2px solid rgb(105, 104, 104);
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  .addButton {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid rgb(105, 104, 104);;
  }