.overviewContainer {
    background-color: white;
    border: var(--border);
    padding: 10px;
    border-radius: 6px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.games {
    height: 270px;
    width: 250px;
    background: white;
    border: 2px solid black;
    border-radius: 30px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
.addGamesButton {
    height: 270px;
    width: 250px;
    background: white;
    border: 2px rgb(105, 104, 104);
    color: rgb(105, 104, 104);
    font-size: large;
    border-radius: 30px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    display: flex;
    border-style: dashed;
    cursor: pointer;
    text-decoration: none;
}
.addGamesButton:hover {
    border: 2px solid black;
    color: black;
    border-style: dashed;
}