.overviewContainer {
    background-color: white;
    border: var(--border);
    padding: 10px;
    border-radius: 6px;
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    flex-wrap : wrap
}
.contentContainer {
    background-color: white;
    border: var(--border);
    padding: 10px;
    border-radius: 6px;
}
.addGamesButton {
    height: 220px;
    width: 200px;
    margin: 10px;
    background: white;
    border: 2px rgb(105, 104, 104);
    color: rgb(105, 104, 104);
    font-size: large;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    border-style: dashed;
    cursor: pointer;
    text-decoration: none;
}
.addGamesButton:hover {
    border: 2px solid black;
    color: black;
    border-style: dashed;
}
.imagePreview {
    width: 195px;
    height: auto;
}
.textPreview {
    padding: 5px;
    text-align: center;
}
.gamesPreview {
    height: 220px;
    width: 200px;
    min-width: 200px;
    margin: 10px;
    background: white;
    border: 2px solid rgb(105, 104, 104);
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.imageShow {
    width: 195px;
    height: auto;
}
.textShow {
    padding: 5px;
    text-align: center;
}
.gamesShow {
    height: 220px;
    width: 200px;
    min-width: 200px;
    margin: 10px;
    background: white;
    border: 2px solid rgb(105, 104, 104);
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    display: flex;
  }