.overviewContainer {
    background-color: var(--container-background);
    border: var(--border);
    padding: 10px;
    border-radius: 6px;
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    flex-wrap : wrap
}
.contentContainerInputForm {
    background-color: var(--container-background);
    border: var(--border);
    color: var( --text-primary);
    min-width: 320px;
    border-radius: 6px;
    display: flex;
    box-sizing: border-box;
    flex-wrap : wrap;
    justify-content: center;
}
.contentContainer {
    background-color: white;
    border: var(--border);
    padding: 10px;
    border-radius: 6px;
}
.inputForm {
    margin: 30px;
}
.gamesPreview {
    height: 225px;
    width: 200px;
    min-width: 200px;
    margin: 30px;
    background: var(--background);
    border: var(--border);
    border-radius: 7px;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.addGamesButton {
    height: 225px;
    width: 200px;
    margin: 10px;
    background: var(--container-background);
    border: 1px dashed var(--text-primary);
    color: var( --text-primary);
    font-size: large;
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}
.addGamesButton:hover {
    border: 1px dashed var(--text-hover);
    color: var(--text-hover);
}
.imagePreview {
    max-width: 200px;
    width: auto;
    max-height: 140px;
    height: auto;
}
.gameTitle {
    padding: 10px;
    font-weight: 700;
    color: var( --text-primary);
}
.gamesShow {
    height: 225px;
    width: 200px;
    min-width: 200px;
    margin: 10px;
    background: var(--background);
    border: var(--border);
    border-radius: 7px;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    align-items: center;
  }
.addButton {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 7px;
    border: var(--border);
}