.sectionDescription {
    font-weight: 600;
    padding: 10px;
    color: var(--text-primary);
}

.currencyInput {
    color: var(--text-primary);
    margin-top: 50px;
    margin-left: -60px;
    padding-bottom: 20px;
}
.currencydropdown {
    border-radius: 5px;
    border: var(--border);
    background-color: var(--background);
    color: var(--text-primary);
    padding: 5px;
    margin-left: 5px;
}
.userSettingsInput {
    border-radius: 5px;
    border: var(--border);
    background-color: var(--background);
    color: var(--text-primary);
    padding: 5px;
    margin-left: 5px;
}

.passwordInput {
    color: var(--text-primary);
    margin-top: 50px;
    margin-left: -30px;
    padding-bottom: 20px;
}

.systemcontent {
    color: var(--text-primary);
    margin-top: 50px;
    margin-left: -50px;
    padding-bottom: 20px;
}

.userlabel {
    display: inline-block;
    width: 150px;
}

.generallabel {
    display: inline-block;
    width: 90px;    
}

.infotext {
    border-radius: 7px;
    background-color: rgb(238, 183, 43);
    color: black;
    padding: 10px;
    width: fit-content;
}