
.sidebar {
  height: 100%;
  width: var(--sidebar-width);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 110px;
  color: aliceblue;
}
.sidebarItem {
    display: flex;
    flex: 1 1;
    align-items: center;
    padding: .8rem 2rem;
    text-decoration: none;
    white-space: nowrap;
    color: #f1f1f1;
}
.sidebar a {
  text-decoration: none;
}
.sidebarItem:hover {
  background-color: hsla(0,0%,100%,.05);;
  transition: .5s, color .5s;
}
.sidebarTitle {
    display: flex;
    text-transform: uppercase;
    flex: 1 1;
    font-size: 11.2px;
    align-items: center;
    padding: .1rem 2rem;
    padding-top: 1.1rem;
    text-decoration: none;
    white-space: nowrap;
    color: #d4d1d1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

#topbar {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}