
#tblData {
    border-collapse: collapse;
    width: 100%;
    border: var(--table-border);
    color: var(--text-primary); 
  }
#tblData tr {
  line-height: 40px;
}
  
  #tblData td, #tblData th {
    border-bottom: var(--table-border);
    padding: 8px;
  }
  
  #tblData tr:nth-child(even){background-color: var(--table-background-secondary) }
  
  #tblData tr:hover {background-color: var(--content-background);}
  
  #tblData th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: var(--content-background);
    color: var(--text-primary); ;
 
  }
  .userstable {
    background-color: var(--table-background);
    padding: 10px;
    border-radius: 6px;
    border: var(--border);
  }
  .sendMail {
    cursor: pointer; 
    width: 80px;
  }
  .sendMail:hover {
    color: var(--text-hover);
  }