
#tblData {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(207, 207, 207);
    color: var(--text-primary); 
  }
#tblData tr {
  line-height: 40px;
}
  
  #tblData td, #tblData th {
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 8px;
  }
  
  #tblData tr:nth-child(even){background-color: var(--content-background-light) }
  
  #tblData tr:hover {background-color: var(--content-background);}
  
  #tblData th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: var(--content-background);
    color: var(--text-primary); ;
 
  }
  .userstable {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    border: var(--border);
  }
  .sendMail {
    cursor: pointer; 
    width: 80px;
  }
  .sendMail:hover {
    color: black;
  }