.topbar {
    background-color: var(--topbar-background);
    line-height: 30px;
    overflow-x: hidden;
    margin-left: var(--sidebar-width);
    border-bottom: 1px solid var(--topbar-bottom-border);
}

.authuser {
    float: right;
    margin-right: 25px;
    cursor: pointer;
    color: var(--text-primary); 
}
.authuser:hover {
    color: var(--text-hover)
}

.sidebarbutton {
    margin-left: 25px;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    position: absolute;
    color: var(--text-primary); ; 
}
.sidebarbutton:hover {
    color: var(--text-hover);
}

.topNavigation {
    list-style: none;
    text-decoration: none;
    margin-left: 80px;
    position: absolute;
}
.topNavigationItem {
    padding-right: 20px;
    text-decoration: none;
    color: var(--text-primary); ;
}
.topNavigationItem:hover {
    color: var(--text-hover)
}
