:root {
   --text-hover: black;
   --text-primary: #535252;
   --secondary: #3c4b64; 
   --content-background: #dddfe2;
   --hilight: #11c4be;
   --topbar-background : #fcfafa;
   --table-background-secondary: #f8f5f5;
   --background: #f1f3f7;
   --container-background: white;
   --table-background: white;

   --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   --transition: all ease-in-out 300ms;
   --sidebar-width: 240px;
   --display-true: flex;
   --border: 1px solid rgb(105, 104, 104, 0.5);
   --topbar-bottom-border: rgb(207, 207, 207);
   --table-border: 1px solid rgb(207, 207, 207);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-hover: white;
    --text-primary: #B9BCC3;
    --secondary: #090913; 
    --content-background: #090913;
    --hilight: #048984;
    --topbar-background : #090913;
    --table-background-secondary: #071126;
    --background: #071126;
    --container-background: #060e20;
    --table-background: #060e20;
 
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --transition: all ease-in-out 300ms;
    --sidebar-width: 240px;
    --display-true: flex;
    --border: 1px solid #071126;
    --topbar-bottom-border: #090913;
    --table-border: none;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}
#contentpage {
  overflow-x: hidden;
  margin-left: var(--sidebar-width);
  height: 100%;
  transition: 0.5s;
  padding: 25px;
  height: calc(100vh - 81px);
  background-color: var(--background);
}
.ListIcon {
  padding-right: 5px;
}